language: rust
sudo: required

env:
  global:
  - CRATE_NAME=dustbox

matrix:
  fast_finish: true
  include:
    # Linux
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: nightly

    # OSX
    - env: TARGET=x86_64-apple-darwin
      os: osx
      rust: nightly

install:
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt-get install libgtk-3-dev; else brew install gtk gdk; fi
  - cd .. && git clone https://github.com/martinlindhe/dos-software-decoding && cd -

cache: cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo
